extends layout

block content
    h1= title
    form#formAddUser(name="savechanges",method="post",action="/savechanges")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputPassword(type="password",placeholder="password",name="password")
        input#inputnewpassword(type="password",placeholder="newpassword",name="newpassword")
        input#inputUserEmail(type="text", placeholder="useremail", name="useremail")
        button#btnSubmit(type="submit") save
        p
        a(href="/home") Back
